<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
      }

      h1 {
        color: #333;
      }

      form {
        background: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 300px;
      }

      label {
        display: block;
        margin-bottom: 8px;
        color: #333;
      }

      input[type='email'],
      input[type='password'],
      button {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
      }

      button {
        background-color: #007bff;
        color: #fff;
        border: none;
        cursor: pointer;
      }

      button:hover {
        background-color: #0056b3;
      }

      .hidden {
        display: none;
      }
    </style>
  </head>
  <body>
    <h1>Stencil login page</h1>
    <form
      action="<%= host %>/oidc/auth?client_id=<%= applicationId %>"
      method="post"
    >
      <label for="email">Email:</label>
      <input type="email" id="email" name="loginId" required />
      <br />
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required />
      <input
        type="hidden"
        id="redirect_uri"
        name="redirect_uri"
        value="<%= redirect_uri %>"
        class="hidden"
      />
      <input
        type="hidden"
        id="state"
        name="state"
        value="<%= state %>"
        class="hidden"
      />
      <input
        type="hidden"
        id="code_challenge"
        name="code_challenge"
        value="<%= code_challenge %>"
        class="hidden"
      />
      <input
        type="hidden"
        id="code_challenge_method"
        name="code_challenge_method"
        value="<%= code_challenge_method %>"
        class="hidden"
      />
      <input
        type="hidden"
        id="response_type"
        name="response_type"
        required
        value="<%= response_type %>"
        class="hidden"
      />
      <input
        type="hidden"
        id="scope"
        name="scope"
        required
        value="<%= scope %>"
        class="hidden"
      />
      <br />
      <button type="submit">Login</button>
    </form>
    <a
      href="<%= host %>/oidc/register?client_id=<%= applicationId %>&redirect_uri=<%= redirect_uri %>&state=<%= state %>&code_challenge=<%= code_challenge %>&code_challenge_method=<%= code_challenge_method %>&response_type=<%= response_type %>&scope=<%= scope %> offline_access"
      >New User?</a
    >
    <!-- scope might be offline access -->
  </body>
</html>
