<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
      }

      h1 {
        color: #333;
      }

      form {
        background: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 300px;
      }

      label {
        display: block;
        margin-bottom: 8px;
        color: #333;
      }

      input[type='email'],
      input[type='password'],
      input[type='text'],
      button {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
      }

      button {
        background-color: #007bff;
        color: #fff;
        border: none;
        cursor: pointer;
      }

      button:hover {
        background-color: #0056b3;
      }

      .hidden {
        display: none;
      }
    </style>
  </head>
  <body>
    <h1>Stencil passwordless login page</h1>
    <form id="form1">
      <label for="email">Email:</label>
      <input type="email" id="email" name="loginId" required />
      <br />
      <br />
      <button type="submit">Login</button>
    </form>
    <form
      id="form2"
      action="<%= host %>/oidc/passwordless-otp?client_id=<%= applicationId %>"
      style="display: none"
      method="POST"
    >
      <input type="text" name="otp" id="otp" placeholder="Enter the otp" />
      <input
        type="hidden"
        id="redirect_uri"
        name="redirect_uri"
        value="<%= redirect_uri %>"
        class="hidden"
      />
      <input
        type="hidden"
        id="state"
        name="state"
        value="<%= state %>"
        class="hidden"
      />
      <input
        type="hidden"
        id="code_challenge"
        name="code_challenge"
        value="<%= code_challenge %>"
        class="hidden"
      />
      <input
        type="hidden"
        id="code_challenge_method"
        name="code_challenge_method"
        value="<%= code_challenge_method %>"
        class="hidden"
      />
      <input
        type="hidden"
        id="response_type"
        name="response_type"
        required
        value="<%= response_type %>"
        class="hidden"
      />
      <input
        type="hidden"
        id="scope"
        name="scope"
        required
        value="<%= scope %>"
        class="hidden"
      />
      <input
        type="hidden"
        id="loginId"
        name="loginId"
        required
        class="hidden"
      />

      <button type="submit">Verify otp</button>
    </form>
    <a
      href="<%= host %>/oidc/register?client_id=<%= applicationId %>&redirect_uri=<%= redirect_uri %>&state=<%= state %>&code_challenge=<%= code_challenge %>&code_challenge_method=<%= code_challenge_method %>&response_type=<%= response_type %>&scope=<%= scope %> offline_access"
      >New User?</a
    >
    <script>
      const form = document.getElementById('form1');
      const form2 = document.getElementById('form2');
      const code_challenge = '<%= code_challenge %>';
      const code_challenge_method = '<%= code_challenge_method %>';
      const scope = '<%= scope %>';
      const response_type = '<%= response_type %>';
      const state = '<%= state %>';
      const redirect_uri = '<%= redirect_uri %>';
      const applicationId = '<%= applicationId %>';

      form.addEventListener('submit', async (e) => {
        e.preventDefault();
        form2.style.display = 'block';
        const email = document.getElementById('email');
        const response = await fetch('/otp/send', {
          method: 'POST',
          headers: {
            'content-type': 'application/json',
          },
          body: JSON.stringify({ to: email.value, type: ['mail'] }),
        });
      });

      form2.addEventListener('submit', async (e) => {
        const email = document.getElementById('email').value;
        const emailSend = document.getElementById('loginId');
        emailSend.value = email;
        console.log(emailSend);
      });
    </script>
  </body>
</html>
